body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.development-page {
    text-align: center;
    padding: 20px;
}

.development-page h1 {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
}

.development-page p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 30px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}
